* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Outfit;
}

html, body {
  height:100%;
  width: auto;
}

.login-background {
  background-image: url(../img/jumbo.png);
  height: 100%;
  background-size: cover;
  background-position: center;
}

.d-flex {
  display: flex;
}

.center {
  justify-content: center;
  align-items: center;
}

.login-card {
  height: 40%;
  min-height: 25rem;
  
  width: 30%;
  min-width: 45rem;
  
  background-color: white;
  border-radius: 1rem;
}

.login-card > * {
  text-align: center;
  padding: 2rem;
}

.w-60 {
  width:60%;
}

.w-40 {
  width:40%;
}

.w-40 img {
  width: 70%;
  
  padding: 1rem;
  border-radius: 1rem;
}