/* 
- id
- classi
- tag

- selettori avanzati
settore discente
selettore > discendente diretto
*/

/* Debug */

.debug {
  * {
    border: 0;
  }

  header {
    background-color: #005ce3;
  }

  .container {
    background-color: rgba(255, 170, 12, 0.753);
    height: 100%;
  }

  .container-sm {
    background-color: pink;
  }

  .jumbotron {
    background-image: url(../img/jumbo.png);
    background-size: cover;
    background-position: center;
    aspect-ratio: 16/6;

    display: flex;
    text-align: center;
  }

  section {
    /* height: 350px; */
    background-color: purple;
  }

  footer {
    background-color: black;
    height: 500px;
  }
}

/* .degug header {} */
/* .debug .jumbotron {} */
/* .degug > header {} */

/* Common */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Outfit;
}

.container {
  width: 80%;
  max-width: 80rem;
  min-width: 60rem;
  margin: auto;
}

.container-sm {
  width: 55%;
  min-width: 40rem;
  max-width: 60rem;

  height: 80%;
  margin: auto;
}

.meeting {
  text-align: center;
}

/* Utilities */

.d-flex {
  display: flex;
  gap: 3rem;

  align-items: center;
}

.justify-content-between {
  justify-content: space-between;
}

.list-unstyled {
  list-style: none;
}

nav a {
  text-decoration: none;
}

/* Header */

header {
  padding: 0.5rem 0;
}

/* Main */

.w-70 {
  width: 70%;
}

.w-30 {
  width: 30%;
}

.w-100 {
  width: 100%;
}

section {
  padding: 3rem 0;
}


/* Images */

.invite_only .w-70 {
  background-image: url(../img/item1.svg);
  object-fit: cover;
  background-position: left;
  aspect-ratio: 6/4;
  background-repeat: no-repeat;
}

.channel .w-70 {
  background-image: url(../img/item2.svg);
  object-fit: cover;
  background-position: right;
  aspect-ratio: 6/4;
  background-repeat: no-repeat;
}

.fandom .w-70 {
  background-image: url(../img/item3.svg);
  object-fit: cover;
  background-position: left;
  aspect-ratio: 6/4;
  background-repeat: no-repeat;
}

.meeting .w-100 {
  background-image: url(../img/item4-big.svg);
  object-fit: cover;
  background-position: center;
  aspect-ratio: 16/7;
  background-repeat: no-repeat;
}