/* 
- id
- classi
- tag

- selettori avanzati
settore discente
selettore > discendente diretto
*/

/* Debug */

.debug {
  * {
    border: 0;
  }

  header {
    background-color: #005ce3;
  }

  .container {
    height: 100%;
  }

  .container-sm {
    display: flex;
    flex-direction: column;
  }

  .jumbotron {
    background-image: url(../img/jumbo.png);
    background-size: cover;
    background-position: center;
    aspect-ratio: 16/6;

    display: flex;
    text-align: center;
  }

  section {
    padding-block: 10rem;
  }

  .invite_only {
    padding-bottom: 14rem;
  }

  .fandom {
    padding-bottom: 18rem;
  }
}

/* .degug header {} */
/* .debug .jumbotron {} */
/* .degug > header {} */

/* Common */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Outfit;
}

.container {
  width: 65rem;
  margin: auto;
}

.container-sm {
  width: 55%;
  max-width: 60rem;
  min-width: 40rem;

  margin: auto;
}

.meeting .container {
  width: 60rem;
  margin: auto;
}

.meeting {
  text-align: center;
}

/* Utilities */

.d-flex {
  display: flex;
  gap: 3rem;
}

nav .d-flex {
  align-items: center;
}

.justify-content-between {
  justify-content: space-between;
}

.align-center {
  align-items: space-evenly;
}

.list-unstyled {
  list-style: none;
}

nav a {
  text-decoration: none;
}

/* Header */

header {
  padding: 0.5rem 0;
}

/* Main */

.w-70 {
  width: 70%;
}

.w-30 {
  width: 30%;
}

.w-100 {
  width: 100%;
  margin-block: 1rem;
}

section {
  padding: 3rem 0;
}

/* Images */

.invite_only .w-70 {
  background-image: url(../img/item1.svg);
  background-size: contain;
  min-height: 10rem;
  background-position: top left;
  background-repeat: no-repeat;
}

.channel .w-70 {
  background-image: url(../img/item2.svg);
  background-size: contain;
  min-height: 20rem;
  background-position: top right;
  background-repeat: no-repeat;
}

.fandom .w-70 {
  background-image: url(../img/item3.svg);
  background-size: contain;
  min-height: 23rem;
  background-position: top left;
  background-repeat: no-repeat;
}

.meeting .w-100 {
  background-image: url(../img/item4-big.svg);
  background-size: contain;
  min-height: 34rem;
  background-position: top;
  background-repeat: no-repeat;
}

.h2-stars {
  background-image: url(../img/stars.svg);
  background-size: contain;
  min-height: 3rem;
  background-position: top;
  background-repeat: no-repeat;
}

/* Text */

nav ul a {
  color: white;
}

ul {

}

.jumbotron .container-sm {
  color: white;
}

.jumbotron h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

p {
  font-size: 1.3rem;
}

.jumbotron p {
  font-size: 1.2rem;
  margin-block: 1rem;
}

section h2 {
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
}

.meeting h2,
.meeting p {
  width: 50rem;
  margin: 1rem auto;
}

.meeting h3 {
  margin-bottom: 2rem;
  font-size: 1.5rem;
}

/* Buttons */

button {
  padding-inline: 1.5rem;
  padding-block: 0.7rem;
  border-radius: 3rem;
  font-weight: 400;
}

nav button {
  padding-inline: 1rem;
  padding-block: 0.3rem;

  color: black;
  font-weight: 400;
}

.jumbotron button,
.meeting button {
  margin-inline: 0.3rem;
  font-size: 1.2rem;
}

.light-b {
  background-color: white;
  color: black;
}

.dark-b {
  background-color: rgb(39, 39, 39);
  color: white;
}

.lightblue-b {
  background-color: #8ea1e1;
  color: white;
}

/* Background */

.invite_only {
  background-image: linear-gradient(rgb(255 255 255 / 0.95)),
    url(../img/wave.svg);
  background-repeat: repeat-x;
  background-size: 100% auto;
  background-position: bottom;
}

.channel {
  background-color: #f2f2f2;
}

.fandom {
  background-image: linear-gradient(rgb(255 255 255 / 0.95)),
    url(../img/wave.svg);
  background-repeat: repeat-x;
  background-size: 100% auto;
  background-position: bottom;
}

.middle-wave {
  height: 8rem;
  background-image: linear-gradient(rgb(255 255 255 / 0.95)),
    url(../img/wave2.svg);
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: top;
}

.meeting {
  background-color: #f2f2f2;
}


/* Footer */


.ending {
  padding-block: 2rem;
  background-color: #23272a;
  color: white;
}

.ending > div {
  width: 70rem;
  margin: 0 auto;
  
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.first-class {
  width: 25%;
}

.first-class > * {
  margin-block: 1.2rem;
}

.content > div:not(.first-class) li {
  margin-block: 0.4rem;
}

.content > div:not(.first-class) span {
  font-weight: bold;
}

.ending .socials {
  display: flex;
  gap: 0.5rem;
}

.ending img {
  width: auto;
  height: 1rem;
  object-fit: cover;
  margin-inline: 0.3rem;
}

.ending .end-page {
  border-top: 1px solid rgba(118, 127, 193, 0.189); 
  margin-top: 2rem;
  padding-block: 1rem;
  
  display: flex;
  align-items: center;
}

.ending ul {
  list-style: none;
}

.sub-title {
  color: #8ea1e1;
  font-size: 2rem;
  font-weight: 600;
}